body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url("images/header.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  position: absolute;
  right: 0;
  left: 0;
  top: 20%;
  text-align: center;
}

.title h1 {
  font-size: 5rem;
}

.section-title {
  text-align: center;
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.languages {
  margin: 0;
}

.languages h1 {
  margin: 0;
}

/********************************/

.hobby {
  padding: 0 20rem;
  margin-bottom: 4rem;
}

.hobby .image {
  display: inline-block;
}

.hobby .text {
  display: inline-block;
  position: absolute;
  margin-top: 2rem;
}

.hobby .circle {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  margin: 0 3rem;
  position: relative;
}

.hobby .text h3 {
  font-size: 3rem;
  margin: 0 0 1rem;
}

.hobby .text h5 {
  font-size: 2rem;
  margin: 0;
}

.circle-red {
  background-color: #ff5757;
}

.circle-green {
  background-color: #4db601;
}

.circle-blue {
  background-color: #488ed4;
}

.circle-yellow {
  background-color: #f0ce2f;
}

.circle i {
  position: absolute;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  font-size: 6rem;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#gallery {
  padding: 3rem;
}

#gallery img {
  width: 49%;
}
