body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url("images/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-size: 5rem;
  margin: 2rem;
}

.section-title {
  text-align: center;
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.languages {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
}

.languages h1 {
  margin: 0;
}

/********************************/
#hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.hobby {
  margin-bottom: 4rem;
  width: fit-content;
  min-width: 50rem;
  position: relative;
}

.hobby .image {
  display: inline-block;
}

.hobby .text {
  display: inline-block;
  position: absolute;
  top: 1rem;
  left: 35%;
}

.hobby .circle {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin: 0 3rem;
  position: relative;
}

.hobby .text h3 {
  font-size: 3rem;
  margin: 0 0 1rem;
}

.hobby .text h5 {
  font-size: 2rem;
  margin: 0;
}

.circle-red {
  background-color: #ff5757;
}

.circle-green {
  background-color: #4db601;
}

.circle-blue {
  background-color: #488ed4;
}

.circle-yellow {
  background-color: #f0ce2f;
}

.circle i {
  position: absolute;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  font-size: 6rem;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*******************************************************/

#gallery {
  padding: 2rem 20rem;
  background-color: rgb(247, 247, 247);
}
/*******************************************************/

#destinations {
  padding: 2rem 0 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#destinations img {
  width: 80%;
  border-radius: 40%;
}
